.input-field{
  
    text-align: center;
   padding: 15px;

    margin-bottom: 30px;
  
}

.form{
    justify-content: center;
    background-color: khaki;
    border-bottom: 1px solid yellowgreen;

}

.add-tsk{
margin-right: 10px;



}

.clear-task{

   
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;

}
